
      .profile-img {
        width: 300px;
      }

      .row {
        display: flex;
      }

      .column {
        margin-left: 10rem;
        margin-right: 10rem;
      }

      ul {
        font-size: 20px;
      }

      li {
        font-size: 20px;
      }

      .details {
        margin-bottom: 3rem;
      }

      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }

      .subtitle>h2{
        color: #ccc;
      }