body {
  margin-bottom: 5rem;
  height: auto;
}

.column {
  float: left;
  width: 45%;
  padding: 12px;
  height: 270px;
  margin-left: 1rem;
}

.row {
  display: table;
  width: 100%;
  height: 85%;
}

.side {
  width: 900px;
}

img {
  width: 100%;
  height: 100%;
}

#image3 {
  width: 95%;
  height: 75%;
  margin-left: 1.5rem;
}

#timbru {
  width: 17%;
  float: right;
}

#carte-postala {
  margin-top: 0.1rem;
}
