
body {
	margin-left: 10rem;
    margin-top: 5rem;
    width: fit-content;
}

#button {
  background-color: pink;
  color: black;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 4.5rem;
  cursor: pointer;
}

#title{
    color: pink;
    text-align: center;
}
