div.gallery {
  margin: 10px;
  border: 10px solid #ccc;
  float: left;
  width: 400px;
}
div.gallery {
  text-align: center;
  font-size: x-large;
  color: blue;
}
div.gallery img {
  width: 100%;
  height: auto;
}
