* {
    box-sizing: border-box;
}

body {
    width: 800px;
    margin: 0 auto;
    padding: 3.5em;
    margin-bottom: 50px;
}

#image1 {
    width: 100%;
}

#image2 {
    padding-bottom: -10px;
    margin-left: -20px;
    align-content: center;
    transform: rotate(11deg);
    width: 80%;
}

#image3 {
    width: 120%;
    margin-top: -100px;
}

#image4 {
    margin-left: 50px;
    margin-top: -100px;
    width: 53.3%;
}

#stamp {
    width: 30%;
    margin-top: -40px;
    margin-left: 230px;
}

.hr {
    width: 300px;
    align-items: left;
}

.devider {
    border-right: 10px solid black;
}

/* Create two equal columns that floats next to each other */

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.vl {
    border-left: 6px solid rgb(11, 17, 11);
    height: 350px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 670;
}